.cf-app-status {
  width: 100%;
  display: flex;
  align-items: center;
}

.cf-app-identifier {
  flex-shrink: 1;
}

.cf-app-identifier .header, .cf-app-identifier .meta {
  margin-bottom: 0;
  white-space: pre;
}

.cf-app-identifier .header > span.version {
  font-size: 0.6em;
  font-weight: normal;
}

.cf-app-meta {
  flex-grow: 1;
  padding: 0 20px 0 60px;
}

.cf-app-meta .meta {
  color: gray;
}

.cf-app-meta .column {
  padding: 1px 0 ! important;
}

.cf-app-meta .column.sixteen {
  padding-bottom: 10px ! important;
}


.cf-app-resources {
  flex-shrink: 1;
}

.cf-app-resources .statistics {
  flex-wrap: nowrap;
}

.cf-app-resources .statistic {
  margin-bottom: 0 ! important;
}
