body {
  background: #ddd;
}

.segment {
  background: #fafaf8 ! important;
}

svg {
  background: white;
  border: 1px solid #eee;
}

.viewport-background {
  fill: white;
}

.grid {
  fill: none;
  shape-rendering: optimizeSpeed;
  stroke: black;
}

svg.schematic {
  font-size: 12px;
  font-family: monospace;
  text-rendering: geometricPrecision;
}

.origin {
  stroke: black;
  stroke-width: 1px;
  opacity: 0.5;
}

/* - Pin - */

.pin path, .pin circle {
  stroke: #800;
  stroke-width: 1px;
  fill: white;
}

.pin .inverter {
  stroke-width: 1.5px;
  transform: translate(3px, 0);
  shape-rendering: geometricPrecision;
}

.pin .clock {
  stroke-width: 1.5px;
  shape-rendering: geometricPrecision;
}

.pin .description text {
  fill: #555;
  stroke: none;
  font-size: 1.0em;
}

.pin .description .text-offset {
  transform: translate(-0.5em, 0px);
}

.pad-name text {
  fill: #888;
  stroke: none;
  font-size: 0.8em;
}

.pin .pad-name .text-offset {
  ___transform: translate(0px, -0.1em);
}

/* - Symbol - */

.symbol .name text, .symbol .value text {
  fill: #888;
  stroke: none;
  font-size: 1.1em;
}

.symbol .outline-fill {
  fill: rgba(250, 255, 240, 0.8);
  stroke: none;
}

.symbol .outline-stroke {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
