.cf-app-status {
}

.cf-app-identifier .content {
  display: inline-block;
}

.cf-app-identifier .header, .cf-app-identifier .meta {
  margin-bottom: 0;
  white-space: pre;
}

.cf-app-meta {
  padding: 0 20px 0 60px;
  width: 99%;
}

.cf-app-meta .meta {
  color: gray;
}

.cf-app-meta .column {
  padding: 1px 0 ! important;
}

.cf-app-meta .column.sixteen {
  padding-bottom: 10px ! important;
}


.cf-app-resources .statistics {
  flex-wrap: nowrap;
}

.cf-app-resources .statistic {
  margin-bottom: 0 ! important;
}
